<div class="container-fluid">
   
    <h1 class="text-center">Civilizacion 1</h1>
    <div class="text-center">
        <div class="container">
            <img class="rounded img-fluid mb-2" width="60%" src="{{estiloVida.imagenEstiloVida}}"
                alt="Card image cap">
        </div>

        <div class="card col-12">


            <div class="card-body">
                <p class="card-text text-justify mx-2" style="font-size: 130%;">{{estiloVida.descripcionEstiloVida}}
                </p>
            </div>

            <!-- ESCUCHAR, ATRAS, SIGUIENTE -->
            
            
                
                    <div class="row">
                        <div class="col-md-4 ">
                            <button type="button" class="btn btn-primary">Escuchar</button>
                        </div>
                       
                        <div class="col-md-8 ">
                            <button type="button" class="btn btn-primary">Escuchar</button>
                            <button type="button" class="btn btn-primary">Escuchar</button>
                        </div>
                    </div>
                    
                

                
            
            <br>
        </div>

    </div>
</div>