<div class="container-fluid">

    <h1 class="text-center">Civilizacion 1</h1>
    <div class="text-center">
        <div class="container">
            <img class="rounded img-fluid mb-2" width="60%" src="https://images2.alphacoders.com/902/902946.png"
                alt="Card image cap">
        </div>


        <div class="card col-12">

            <div class="row">
                <div class="card-body">
                    <p class="card-text text-justify mx-2" style="font-size: 130%;">Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit. Consequuntur,consectetur, ipsum fuga, totam dolre dolorum nisi laboriosam
                        praesentium
                        recusandae nam rerum harum
                        eligendi. Quibusdam officiis minima ducimus. Blanditiis, libero assumenda! Lorem ipsum dolor sit
                        amet
                        consectetur adipisicing elit. Soluta, quae.loremz Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit.
                    </p>
                </div>

                <!-- ESCUCHAR, ATRAS, SIGUIENTE -->
                <div class="row">
                <button type="button" class="btn btn-primary col-md-1 ml-3 mr-3">Escuchar</button>
                <div class="btn-group col-md-2 ml-auto mr-1" role="group">
                    <button type="button" class="btn btn-primary">Anterior</button>
                    <button type="button" class="btn btn-primary">Siguiente</button>

                </div>
            </div>
            </div>
            <br>
        </div>

    </div>
</div>