<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      
      <a class="navbar-brand" href="/home">Civilizaciones Antiguas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home" style="color: aliceblue;">Home</a>
        <a class="nav-link" href="/civilizaciones"style="color: aliceblue;">Civilizaciones</a>
        <a class="nav-link" href="/actividades" style="color: aliceblue;" >Actividades</a>
        <a class="nav-link" href="/evaluaciones" style="color: aliceblue;" >Evaluaciones</a>
      </div>
    </div>
   
  </nav>

