<div class="jumbotron jumbotron-fluid mu">
    <div class="container">
      <h1 class="display-4">{{tipoArte.nombreTipo}}</h1>
      <p class="lead">{{arte.descripcion}}</p>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <div class="card mb-3">
                <img src="{{piezaArte.imagenPieza}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">{{piezaArte.nombrePieza}} </h4>          
                </div>
              </div>
        </div>
    </div>
</div>